
.login-container{
    position: absolute;
    max-width: 500px;
    left: 40%;
    bottom: 30%;
    background-color: #252529;
    box-shadow: 0 0 15px rgba(0,0,0,.8);
    padding: 20px 25px 5px 25px;
    text-align: center;
}

.create-container{
    position: absolute;
    max-width: 500px;
    left: 40%;
    bottom: 15%;
    background-color: #252529;
    box-shadow: 0 0 15px rgba(0,0,0,.8);
    padding: 20px 25px 5px 25px;
    text-align: center;
}

.form-inputs{
    padding: 10px 0 10px 0;
    text-align: left;
}

.form-inputs > input{
    color: black;
    width: 100%;
    margin-top: 5px;
}

.form-inputs > label{
    font-size: 14px;
}

.submit-button{
    padding-top: 25px;
    text-align: center;
}

.error{
    color: red;
    margin-top: 0;
    margin-bottom: 0;
}

.homepage{
    text-decoration: none;
}
.homepage:hover{
    text-decoration: underline;
}