.archives-items{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 50px;
    margin-top: 100px;
}

.archives-buttons{
    display: grid;
}

.primary-button{
    margin-bottom: 10px;
    margin: 0px 10px 10px 10px;
}

.item-title{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
}

.item-container{
    max-width: 600px;
    grid-template-rows: auto auto auto;
    text-align: center;
    background-color: #252529;
}

a, button{
    background-color: #2d2d2d;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

a:hover, button:hover, input[type="submit"]:hover{
    cursor: pointer;
    text-decoration: underline;
}

